certifi==2018.1.18
chardet==3.0.4
idna==2.6
paho-mqtt==1.3.1
pymodbus==1.4.0
pyserial==3.4
requests==2.25.1
six==1.11.0
urllib3==1.26.5
influxdb==5.2.1
pyatmo==2.1.1
pigpio-dht==0.3.2
pigpio==1.45
PyZE==0.6.0
